body{
    margin:0px;
    height:100vh;
}

.navbars{
    height:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .topnav{
        width:100%;
        height: 11%;
        display: flex;
        .tnav{
            z-index: 1;
            position: fixed;
            height:11%;
            width:100%;
            background-color: rgb(255, 0, 0);
            display:flex;
            flex-direction: row;
            box-shadow: 0 5px 3px -2px rgba(0, 0, 0, 0.2); 
        }
         .search{
            margin-top: 1.2%;
            height:50%;
            width:40%;
            border-radius:20px;
            border:none;
        }
        .search:hover{
            transition:100ms;
            background-color: #f0f1f1;
            }
        .topnavlist{
            display:flex;
            flex-direction: row;
            list-style: none;
            font-size: 90%;
            width:10%;
            height:40%; 
            .img{
                margin-left:10%;
                height:80%;
                width:auto;
                padding: 40%;
                cursor: pointer;
            }
        }

       .img:hover{
        transition: 100ms;
        background-color: #f0f1f1;
        border-radius: 100%;

       }
    }
    .leftnav{
        height:100%;
        width:19%;
        border-right: 1px solid rgba(255, 0, 0, 0.256);
        overflow-y: hidden;
        margin-left: 1%;
        margin-right: 3%;
        .lnav{
            position: fixed;
            height:89%;
            width:19%;
            
            .communities{
                height:70%;
                width:100%;
                list-style: none;
                margin-top: 3%;
                overflow-y: hidden;
            }
            .communities:hover{
                overflow-y: scroll;
            }
            .network{
                height:15%;
                width:95%;
                list-style: none;
            }
        }
        li:hover{
            background-color: #f0f1f1;
            transition: 100ms;
            border-radius: 6%;
            width: 95%;
        }
    }
    a{
        text-decoration: none;
        color:black;
        font-weight:bold;
        font-family: 'ibm_plex_sansregular';
    }
    
    .midnav{
        height:auto;
        width:50%;
        margin-right: 3%;
           
        .mnav{
            height:100%;
            width:100%;
   
            font-family: 'ibm_plex_sansregular';

            .profile{
                height:23%;
                width:100%;
  
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                .avatar{
                    height:50%;
                    width:15%;
                    margin-top:3%;
                    margin-left:3%;
                }
                .username{
                    font-size: 85%;
                    height:30%;
                    width:30%;
                    margin-top:6%;
                    .name{
                        font-size: 250%;
                        margin-top: 5%;
                        margin-left: 10%;
                    }
                }
                .tabs{
                    height:10%;
                    width:70%;
                    display: flex;
                    flex-direction: row;
                    margin-left: 14%;
                    font-size: 90%;
                    margin-bottom: -5%;
                    margin-top: -1%;
                    .tab{
                        margin-left:10%;
                        height:100%;
                        width:auto;
                        padding:1%;
                        cursor: pointer;
                    }
                    .tab:hover{
                        background-color: #f0f1f1;
                        transition: 100ms;
                    }
                }
            }
            .sort{
                width:30%;
                height:2.5%;
                display: flex;
                flex-direction: row;
                font-size: 80%;
                margin-bottom:1% ;
                .createpost{
                    margin-right: 10%;
                    padding:1%;
                    height:100%;
                    width: auto;
                    cursor: pointer;
                }
            }
            .createpost:hover{
                background-color: #f0f1f1;
                transition: 100ms;
            }
            .posts{
                width:auto;
                height:auto;
                .post{
                    font-size: 85%; 
                    padding:1%;
                    width:100%;
                    height:auto;
                    margin:auto;
                    margin-top: 2%;
                    cursor: pointer;
                    border-top: 1px solid rgba(255, 0, 0, 0.256);
                    border-bottom: 1px solid rgba(255, 0, 0, 0.256);
                    .userdetails{
                        width:30%;
                        height:7%;
                        margin-bottom: 2%;
                        .community{
                            height:50%;
                            width:50%;
                        }
                    }
                    .engagement{
                        display:flex;
                        flex-direction: row;
                        height:15%;
                        width:50%;
                        padding-top:3%;
                        cursor: pointer;
                        .react{
                            width:auto;
                            height:auto;
                            padding:1%;
                            font-size: 80%;
                            font-weight: bold;
                            margin-right: 10%;
                            cursor: pointer;
                        }
                    }
                }
                .post:hover{
                    background-color: #f0f1f1;
                    transition: 100ms;
                }
                .react:hover{
                    background-color: #a4a4a4;
                    transition: 100ms;
                }
            }
        }
    }
    .rightnav{
        height:80%;
        width:22%;
        margin-top: 1%;
        font-family: 'ibm_plex_sansregular';
       
        .profdetails{
            position: fixed;
            height:80%;
            width:23%;
            background-color: #f0f1f1;
            border: 1px solid rgba(255, 0, 0, 0.256);
                .wallpaper{
                    width: 100%;
                    height:23%;
                    cursor: pointer;
                }
                .profdetailsusername{
                    width:90%;
                    height:20%;
                    margin:auto;
                    font-weight: bold;
                   
                    .rprofname{
                        width:50%;
                        height:40%;
                    }
                    .share{
                        background-color:#a4a4a4;
                        height:20%;
                        width:26%;
                        border-radius: 20px; 
                        display:flex;
                        flex-direction: row;
                        cursor: pointer;
                    }
                    .share:hover{
                        background-color:#8c8b8b;
                        transition:100ms;
                    }
                }
                .reputation{
                    width:90%;                    
                    height:25%;
                    display:flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin:auto;
                    
                    .reptdetails{
                        margin-left: 7%;
                        width: 40%;
                        font-size: 75%;
                        
                        .reptboxpt{
                            width:10%;
                            height:auto;
                            font-weight: bold;
                        }
                        .reptboxlbl{
                            width:100%;
                            height:auto;
                        }
                    }
                }
                .buddylist{
                    width:90%;
                    height:30%;
                    margin: auto;
                    font-weight: bold;
                    border-top: 1px solid rgba(255, 0, 0, 0.256);
                    .buddies{
                        width:100%;
                        height:100%;
                        overflow-y: hidden;
                        margin-left: 3%;
                        cursor: pointer;
        
                        .friendsername{
                            margin-top: 3%;
                            width:98%;
                            height:10%;
                            font-size: 80%;
                            display: flex;
                            flex-direction: row;
                            padding-bottom: 3%;
                           
                            .serprof{
                                width:7%;
                                height:100%;
                                margin-right: 3%;
                                border-radius: 10px;
                        }
                    }
                    .friendsername:hover{
                        transition: 100ms;
                        background-color:#a4a4a4;
                    }
                    
                }
                .buddies:hover{
                    overflow-y: scroll;
                }
            }
            
        }
    }

/**SCROLLBARS**/
::-webkit-scrollbar{
    border: 1px solid #00000071;
    scrollbar-width: thin;
}
::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color: #9f9f9f;
    scrollbar-width: thin;
}
}